/* Navbar.css */

nav {
    background-color: #0606767c;
    padding: 15px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight:500;
    font-size: large;
  }
  
  nav a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
  }
  
  nav ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 1em;
    margin: 0;
    padding: 0;
  }
  
  nav li {
    margin-right: 10px;
  }
  
  nav img {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    object-fit: cover;
  }
  